<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appProxy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>packetTunnel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>testVPN.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testVPNServices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>testVPNServices.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tunnel_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E24CB552134F89900E909D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E4409C3212BE35000778393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E440A64212D94BF00778393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E440A74212D94DB00778393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EBD87B021312BF300918CC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
